@using System.Web.Mvc.Html
@model IEnumerable<Demo.Models.Contracts.DepartmentDomain.IDepartmentModel>

@{
    ViewBag.Title = "title";
}

<h2>Department's start page</h2>

@Html.ActionLink("Show departments", "List")